body{
    font-family: Arial, Helvetica, sans-serif;
}
#foof{
    display: grid;
    grid-template-columns: repeat(3,150px);
    gap: 20px;
}
#jey{
    text-align: center;
    background-color: rgb(38, 142, 142);
}